<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="urdf_6dof_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Joint_1" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_1']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-3.14" upper="3.14" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_2" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_2']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-1.57" upper="1.57" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_3" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_3']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-1.57" upper="1.57" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_4" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_4']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-3.14" upper="3.14" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_5" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_5']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-1" upper="1.57" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_6" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_6']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <origin rpy="${pi/2} 0 0" />
                <limit lower="-1.57" upper="3.14" effort="2.94" velocity="4.5" />
            </joint>
            <joint name="Joint_Gripper" type="revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_Gripper']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <limit lower="-0.35" upper="0.6" effort="2.94" velocity="4.5" />
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
